@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: "Graphik LC", sans-serif;
}
.container {
    @apply max-w-[1156px] px-[8px] mx-auto max-mb:px-[24px];
}

.concern-item {
    background: linear-gradient(270deg, rgba(248, 226, 223, 0.24) -9.94%, rgba(248, 226, 223, 0) 100%), #6f4c55;
    @apply p-5 pl-6 rounded-[32px] duration-[0.2s] ease-in-out relative overflow-hidden text-white max-sm:p-4 max-sm:pl-[25px];

    &::after {
        @apply content-[""] absolute top-0 left-0 z-[1] w-full h-full opacity-0 duration-[0.5s] ease-in-out;
        background: linear-gradient(90deg, rgba(248, 226, 223, 0.24) -9.94%, rgba(248, 226, 223, 0) 100%), #6f4c55;
    }
    &:hover::after {
        @apply opacity-100;
    }
}
.btn-treatment {
    background: linear-gradient(270deg, rgba(248, 226, 223, 0.24) -9.94%, rgba(248, 226, 223, 0) 100%), #6f4c55;
}
.react-tabs__tab--selected {
    background: linear-gradient(270deg, rgba(248, 226, 223, 0.24) -9.94%, rgba(248, 226, 223, 0) 100%), #6f4c55;
    @apply text-white rounded-[24px];

    &:focus {
        box-shadow: unset;
        @apply border-primary;
    }
}
.react-tabs__tab {
    padding: 0;
    border: 0;
}
.ReactCollapse--collapse {
    transition: height 0.2s ease-in-out;
}
@media screen and (max-width: 640px) {
    .res-unset {
        align-items: unset;
    }
}
.hhh {
    // animation: rotateX 800ms ease-in-out forwards;max-height: 0;
    transition: max-height 1000ms ease-in-out;
}
.kk {
    max-height: 0;
    overflow: hidden;
    // transition: max-height 0.5s ease-in-out;
    // animation: rotateY 800ms ease-in-out forwards;
}
.hh {
    max-height: 100vh;
    overflow: hidden;
    // transition: height 500ms;

    // transition: max-height 0.5s ease-in-out;
    // animation: rotateX 800ms ease-in-out forwards;
}
.vvv {
    animation: rotateY 800ms ease-in-out forwards;
}
@keyframes rotateX {
    0% {
        opacity: 0;
        transform: rotateX(-90deg);
    }
    50% {
        transform: rotateX(-20deg);
    }
    100% {
        opacity: 1;
        transform: rotateX(0deg);
    }
}
@keyframes rotateY {
    100% {
        opacity: 0;
        transform: rotateX(-90deg);
    }
    50% {
        transform: rotateX(-20deg);
    }
    0% {
        opacity: 1;
        transform: rotateX(0deg);
    }
}

.slick-next {
    display: none !important;
}
.wrap-slick-concern {
    .slick-prev {
        font-size: 18px !important;
        left: 0 !important;
        width: 40px;
        height: 40px;
        // top: 24%;
        &::before {
            color: #fff;
            content: "\e906";
            font-family: "icomoon";
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #6f4c55;
            border-radius: 50%;
        }
        @apply z-[5] text-primary;
    }
    .slick-slider {
        @apply pl-[44px];
        .slick-concern {
            width: auto !important;
            @apply mr-[8px];
        }
    }
    .slick-slide {
        // width: auto !important;
    }
    .slick-current {
    }
}
.react-tabs__tab-list {
    @apply border-0 mb-0;
    .activeTab {
        .menu-tab {
            @apply bg-primary text-white;
        }
    }
}
/* Scroll Top
-------------------------------------------------------------- */
#scroll-top {
    position: fixed;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 4px;
    text-align: center;
    z-index: 999;
    right: 14px;
    bottom: 23px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
    background: #fff;
    right: 15px;
    opacity: 1;
    visibility: visible;
    overflow: hidden;
}

#scroll-top:before,
#scroll-top:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#scroll-top:before {
    z-index: -1;
    background: #6f4c55;
}

#scroll-top::after {
    content: "\e901";
    font-family: "icomoon";
    font-size: 18px;
    color: #ffffff;
    font-weight: 600;
}

.react-tabs__tab-panel--selected {
    animation: fadeInFaq 0.5s;
}
@keyframes fadeInFaq {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
